#home-navbar.navbar {
    z-index: 2;
}

.navbar navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#home-navbar.navbar .logo {
    height: 130px;
    width: auto;
}
.align-items-center {
    align-items: center;
}
.d-flex {
    display: flex;
}
#home-navbar.navbar .quote {
    border: 3px solid #fff;
    font-weight: 700;
    padding: 12px;
    background-color: #ed2e52;
}
#home-navbar.navbar .nav-menu {
    background-color: #d3d3d3;
    border-radius: 60px;
    padding: 7px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.ms-4 {
    margin-left: 1.5rem!important;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#home-navbar.navbar .nav-link {
    color: #ed2e52;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
#home-navbar.navbar .dropdown:hover>.dropdown-menu {
    display: block;
    padding: 2px;
}
#home-navbar.navbar .profile .login-btn {
    border: 3px solid #fff;
    border-radius: 50px;
    font-weight: 600;
    padding: 7px 25px;
    background-color: #ed2e52;
}
#home-navbar.navbar .profile .register-header {
    font-weight: 600;
}
.header .bg-image {
    height: 140%;
    max-width: 65%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    right: 0;
    top: -205px;
}
.hero-section {
    margin-left: 40px;
    position: relative;
}
.mt-5 {
    margin-top: 3rem!important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5); */
    margin-top: calc(var(--bs-gutter-y)*-1);
}
.col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.hero-section .hero-heading {
    font-size: 40px;
    font-weight: bolder;
}
.hero-section .hero-description {
    color: #838181;
    padding-top: 15px;
}
.hero-section .hero-button {
    margin: 20px 0;
}
.hero-section .hero-button .btn {
    align-items: center;
    background: #f9004d;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    display: flex;
    padding: 5px 20px;
}
.hero-section .hero-button .icon{
    font-size: 30px;
    margin-left: 30px;
}
.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.hero-section .heroImageCon {
    display: flex;
    justify-content: flex-end;
}
.hero-section .hero-img {
    border: 5px solid #fff;
    border-radius: 10px;
    height: 14vw;
    margin-left: 30px;
    width: 15vw;
}
.about-us, .our-service {
    font-family: Jomolhari;
    font-style: normal;
    font-weight: 400;
}
.about-us .heading, .our-service .heading {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    color: #e74c3c;
    padding-bottom: 10px;
}
.about-us .text, .our-service .text {
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
}
.mt-5 {
    margin-top: 3rem;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.photo-editing .heading {
    background: #feb1c2;
    border-radius: 50px;
    color: #ee2b53;
    font-family: "Inria Serif";
    font-size: 20px;
    font-weight: 700;
    line-height: 19px;
    padding: 12px 25px;
    width: max-content;
}
.img1{
    height: 15vh;
    width: 50%;
    border-top-right-radius: 20px;
}
#title1{
    text-align: center;
}
#description1{
    font-size: 13px;
    text-align:center;
}
#id1{
    margin-left: 10px;
    margin-right: 80px;
    border-radius: 20px;
    width:250px;
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.ads {
    text-align: center;
}
.ads img {
    max-height: 350px;
    max-width: 350px;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.faq {
    margin-bottom: 20%;
    margin-right: 27px;
    margin-top: 15%;
}
.faq .heading {
    color: #ee2b53;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.text-center {
    text-align: center!important;
}
.faq .accordion {
    text-align: center;
}
.mt-5 {
    margin-top: 3rem!important;
}
.accordion-button {
    align-items: center;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    color: var(--bs-accordion-btn-color);
    display: flex;
    font-size: 1rem;
    overflow-anchor: none;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    position: relative;
    text-align: left;
    transition: var(--bs-accordion-transition);
    width: 100%;
}
.faq .accordion .accordion-serial {
    color: #ed2e52;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}
.me-4 {
    margin-right: 1.5rem!important;
}
.why-choose-us {
    margin-top: 38px;
}
.why-choose-us .bg-image {
    background: url(https://thumbs.dreamstime.com/b/simple-white-brick-wall-light-gray-shades-seamless-pattern-surface-texture-background-banner-wide-panorama-format-simple-137027626.jpg);
}
.why-choose-us .heading {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.mt-2 {
    margin-top: 0.5rem!important;
}
.why-choose-us .sub-heading {
    font-size: 16px;
    text-align: center;
}
.why-choose-us .row-flex {
    display: flex;
    flex-wrap: wrap;
}
.mt-5 {
    margin-top: 3rem!important;
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.why-choose-us .box {
    background: #fff;
    border: 1px solid #d3d3d3;
    height: 95%;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;
}
img, svg {
    vertical-align: middle;
}
.why-choose-us .box .box-heading {
    font-size: 18px;
    font-weight: 700;
}
.mt-4 {
    margin-top: 1.5rem!important;
}
.why-choose-us .box .box-desc {
    font-size: 14px;
}
.mt-2 {
    margin-top: 0.5rem!important;
}
.how-it-works {
    margin-top: 20px;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.how-it-works .heading {
    background-color: #ed2e52;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    padding: 8px 30px;
    width: -webkit-max-content;
    width: max-content;
}
.how-it-works .process {
    background-color: hsla(0,2%,78%,.481);
    margin-bottom: 30px;
    margin-top: -18px;
    padding: 60px 30px;
}
.justify-content-around {
    justify-content: space-around!important;
}
.d-flex {
    display: flex!important;
}
.how-it-works .process .steps {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.how-it-works .process .steps .steps-heading {
    font-size: 18px;
    font-weight: 700;
}
.p {
    margin-bottom: 1rem;
    margin-top: 0;
}
.how-it-works .process .steps .circle {
    border: 5px solid #ed2e52;
    border-radius: 80px;
    height: 100px;
    width: 100px;
}
.how-it-works .process .steps .steps-img {
    height: 50px;
    margin-top: 15px;
    width: 50px;
}
.img, svg {
    vertical-align: middle;
}
.how-it-works .process .steps .step-name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
}
.how-it-works .process .steps .step-description {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 15px;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
.stats .box {
    align-items: center;
    border: 2px solid #ed2e52;
    display: flex;
    flex-direction: column;
    height: 95%;
    padding: 16px 23px;
    text-align: center;
    width: auto;
}
.stats .box img {
    height: 60px;
    width: 60px;
}
.img, svg {
    vertical-align: middle;
}
.justify-content-center {
    justify-content: center!important;
}
.d-flex {
    display: flex!important;
}
.stats .number {
    font-size: 32px;
    font-weight: bolder;
}
.stats .unit {
    color: #ed2e52;
    font-size: 31px;
    font-weight: bolder;
    margin-left: 7px;
}
.stats .heading {
    color: gray;
    font-weight: 700;
}
.stats p {
    margin-bottom: 0!important;
}
.mb-5 {
    margin-bottom: 3rem!important;
}
.mt-5 {
    margin-top: 3rem!important;
}
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.p {
    margin-bottom: 1rem;
    margin-top: 0;
}
.sign-up .subscribe .input-group {
    width: 50%;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.sign-up .subscribe input {
    border: 1px solid #ed2e53;
    border-radius: 50px 0px 0px 50px;
    color: #000;
    font-size: 16px;
    padding: 7px 20px;
    width: 50%;
}
.sign-up .subscribe button {
    background-color: #ed2e52;
    border: initial;
    border-radius: 0 50px 50px 0;
    color: #fff;
    padding: 10px 20px;
}
.input-group .btn {
    position: relative;
    z-index: 2;
}
.sign-up .subscribe .text {
    font-size: 14px;
}
.mt-4 {
    margin-top: 1.5rem!important;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.my-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}
.row {
    margin-left: 0!important;
    margin-right: 0!important;
}
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
.img-fluid, .img-thumbnail {
    height: auto;
}
.img, svg {
    vertical-align: middle;
}
.footer {
    background: #f4f6fa;
    padding-top: 5vh;
    /* marg */
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
.footer .logo {
    height: 130px;
    margin-bottom: 10px;
    width: auto;
}
.img-fluid, .img-thumbnail {
    height: auto;
    max-width: 100%;
}
.footer .heading {
    font-size: 18px;
    font-weight: 700;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.footer a {
    color: rgba(0,0,0,.692);
    margin-bottom: 10px;
    text-decoration: none;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
.footer .heading {
    font-size: 18px;
    font-weight: 700;
}
.mb-3 {
    margin-bottom: 1rem!important;
    margin-left: 10px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5); */
    margin-top: calc(var(--bs-gutter-y)*-1);
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}


.img-wrapper{
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img{
    max-width: 100%;
    max-height: 100%;
}
@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex : 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 12vw;
    }
}
.carousel-inner{
    padding: 1em;
}
#idd{
    margin-left: 15px;
    width: 250px;
    height: 300px;
}